@model GiaPha.Models.ThanhVien

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h4 class="my-3 text-danger">Xóa thành viên</h4>
<hr />
<h5>
    <strong>Họ và tên</strong> @Html.DisplayFor(model => model.HoTen)
</h5>
<div class="my-3 text-danger">Bạn chắc chắn xóa thành viên này? Thao tác này sẽ không thể hoàn tác!</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-actions no-color">
    <button type="submit" class="btn btn-danger"><i class="bi bi-x-circle"></i> Xác nhận xóa</button>
    <a class="btn btn-secondary" href="@Url.Action("/Index")">Quay lại</a>
</div>
}
