@model IEnumerable<GiaPha.Models.Video>

@{
    ViewBag.Title = "Thư viện Video";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var dataList = (List<GiaPha.Models.Video>)Model;
    var currentUser = (GiaPha.Controllers.HomeController.TaiKhoan)Session["User"];
}

<main>
    <div class="container">
        <div class="row g-0">
            <div class="col-md-12" align="center" style="margin-top:20px; margin-bottom:20px">
                <div class="tab-page-long active"><a href"">Thư viện Video</a></div>
                @if (currentUser != null)
                {
                    <a href="/Videos/QuanLy" class="btn btn-dark my-2"><i class="bi bi-card-list"></i> Quản lý thư viện</a>
                }
            </div>
        </div>

        <div class="row g-0">
            @foreach (var item in dataList)
            {
                <div class="col-md-3 col-sm-6 col-12">
                    <a class="image-card card mx-1 ml-0"
                       href="/Videos/watch?v=@(item.ID)">
                        <video src="@(item.DuongDan)"
                               class="card-img-top rounded-0"
                               alt="@(item.TieuDe)"></video>
                        <div class="card-body">
                            <h6 class="card-title"><i class="bi bi-play-btn-fill text-danger"></i> @(item.TieuDe)</h6>
                        </div>
                    </a>
                </div>
            }
        </div>
    </div>
</main>