@{
    ViewBag.Title = "Trang chủ";
}

<main>
    <div class="container">
        <div class="row" style="margin-top:50px">
            <div class="col-md-12" align="center" style="margin-top:20px; margin-bottom:20px"><div class="tab-page-long active"><a href"">Giới thiệu</a></div></div>
            <div class="col-md-5">
                <div class=""><img class="card-img-top" src="~/Content/img/nhatho.png" style="width: 100%; height: auto;"></div>
            </div>
            <div class="col-md-7">
                <p style="text-align: justify">
                    Đại Việt sử ký toàn thư viết: “Trước kia, tổ tiên vua (Trần Thái tông) là người đất Mân”. Đất Mân là vùng cư trú của tộc Mân Việt thuộc dòng Bách Việt.
                    Người Bách Việt vốn sống từ sông Trường Giang về phía Nam. Theo nghiên cứu của học giả Đào Duy Anh có tới 500 tộc Bách Việt sống rải rác ở Hoa Nam Trung Quốc, Miến Điện, bắc Việt Nam, bắc Lào, hình thành một số bộ tộc lớn: người Âu Việt ở vùng Chiết Giang-Trung Quốc ngày nay, người Mân Việt ở vùng đất Mân (tỉnh Phúc Kiến)-Trung Quốc ngày nay, người Dương Việt ở vùng đông Hồ Nam, một phần Hồ Bắc, Giang Tây, Quảng Đông, người Lạc Việt ở vùng tây Hồ Nam, Quảng Tây, phần bắc và trung Việt Nam ngày nay, người Điền Việt ở vùng Vân Nam-Trung Quốc ngày nay.
                    Thời Kinh Dương vương dựng nước đặt tên nước là Xích Quỷ (tên hai ngôi sao ứng với vùng đất này), đông giáp biển Đông, tây giáp Ba Thục (tỉnh Tứ Xuyên-Trung Quốc ngày nay), bắc giáp hồ Động Đình (tỉnh Hồ Nam – Trung Quốc ngày nay), nam giáp Hồ Tôn (tỉnh Khánh Hòa–Việt Nam ngày nay). Tiếp sau Kinh Dương vương, vua Lạc Long quân và bà Âu Cơ đã có công thu phục thống nhất dòng Bách Việt về một mối nên Lạc Long quân được suy tôn là “Thủy tổ Bách Việt” (Việt Nam sử lược – Trần Trọng Kim), bà Âu Cơ được suy tôn là “Mẫu Âu Cơ” và truyền thuyết “bà Âu Cơ đẻ bọc một trăm trứng nở một trăm người con” có từ đấy (Bách Việt).
                    Sau khi thống nhất Trung Quốc, năm 218 trước công nguyên, Tần Thủy Hoàng mở cuộc chiến tranh xâm lược ra các nước xung quanh, sai tướng Đồ Thư đem 50 vạn quân đi trường kỳ đánh người Việt ở phương nam. Trước sức mạnh của quân Tần, các tộc Việt lui dần về phía Nam. Năm 208 trước công nguyên, liên quân Lạc Việt, Tây Âu và các tộc Việt khác đã hợp lực đại phá quân Tần, giết chết Đồ Thư, tiêu diệt mấy chục vạn quân Tần. Tần Nhị Thế buộc phải bãi binh. Vùng đất chiếm được, nhà Tần đặt thành các quận, huyện. Đất Mân đặt tên là quận Mân Trung. Đến đời nhà Đường đặt tên là Phúc Kiến quan sát sứ, rồi sau này đổi thành tỉnh Phúc Kiến ngày nay.
                </p>
            </div>
        </div>
    </div>
</main>