@{
    ViewBag.Title = "Đăng nhập";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
<div id="login">
    <div class="container my-3">
        <div class="row justify-content-center">
            <div class="login-container bg-white col-md-4 col-sm-10 col-xs-12 col-12 ml-auto mr-auto p-4 border rounded shadow-sm">
                <h3 class="text-center">ĐĂNG NHẬP</h3>
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        <label class="fw-bold" for="username">Tài khoản:</label><br>
                        <input type="text" name="UserName" id="UserName" class="form-control" value="admin">
                    </div>
                    <div class="form-group my-2">
                        <label class="fw-bold" for="password">Mật khẩu:</label><br>
                        <input type="password" name="Password" id="Password" class="form-control" value="admin@123">
                    </div>
                    <div class="form-group my-2">
                        <label class="fw-bold" for="remember-me"><span>Lưu tên đăng nhập</span> <span><input id="remember-me" name="remember-me" type="checkbox"></span></label><br>
                    </div>
                    <div class="form-group my-2">
                        <button type="submit" class="btn btn-primary btn-md"><i class="bi bi-key-fill"></i> Đăng nhập</button>
                    </div>
                    if (ViewBag.ThongBao != null && ViewBag.ThongBao.Length > 0)
                    {
                        <div class="alert alert-danger" role="alert">
                            @(ViewBag.ThongBao)
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>
