@{
    ViewBag.Title = "Tộc ước";
}

<main>
    <div class="container">
        <div class="row">
            <div class="col-md-12" align="center" style="margin-top:20px; margin-bottom:20px"><div class="tab-page-long active"><a href"">Tộc ước</a></div></div>
            <div class="col-md-12 page-bg p-4 fs-6">
                <div style="text-align: justify; font-family: 'Times New Roman', sans-serif;">
                    <div class="text-center w-100">
                        <b class="fs-5">QUY ƯỚC</b><br />
                        <b class="fs-5">XÂY DỰNG DÒNG HỌ VĂN HOÁ</b><br />
                        -------------------<br />
                    </div>
                    <br />
                    Mục đích xây dựng quy ước của dòng họ Giàng là để cho tất các thành viên trong dòng họ Giàng từ già tới trẻ ai cũng tôn trọng, tuân thủ chấp hành những nội dung được đặt ra ở trong quy ước, để dòng họ thường  xuyên được hoạt động, phấn đấu theo xu hướng tiến bộ, phát triển chung của xã hội và trong khuôn khổ Luật pháp nhà nước Việt Nam.<br />
                    Mỗi con cháu của dòng tộc họ Giàng ai cũng tự hào về hồng phúc mà Tổ tiên đã để lại cho muôn đời. Để tỏ lòng tôn kính các bậc tiền bối có công xây dựng và phát triển dòng tộc, đồng thời để con cháu biết được nguồn gốc họ hàng, chi họ, thứ hệ, nhằm kế thừa và phát huy truyền thống của dòng họ. Trách nhiệm của chúng ta là phải đoàn kết, chung tay xây dựng dòng họ ngày càng phát triển điều này thể hiện lòng tri ân đối với Tổ tiên.<br />
                    Đất nước đang trên đường đổi mới và phát triển, dòng họ Giàng cũng là một nhân tố tích cực góp phần vào sự phát triển chung của toàn xã hội. Vì thế việc xây dựng Quy ước dòng họ có ý nghĩa vô cùng quan trọng đối với con cháu hôm nay và mai sau. Tôn chỉ của Quy ước là “Uống nước nhớ nguồn, ăn quả nhớ người trồng cây”; không ngừng củng cố và tăng cường mối quan hệ trong họ hàng, giáo dục con cháu phải tri ân  đảm bảo sự tồn vong, cường thịnh của dòng họ và lưu truyền vào hậu thế; Tích cực quan tâm tới sự học của con, cháu để đẩy lùi sự đói nghèo và mù chữ…<br />
                    Quy ước của dòng họ chính là những điều ước hay còn gọi là gia pháp có tính phù hợp với luật pháp về những quy định cụ thể; phù hợp với bản sắc dân tộc về những truyền thống, phong tục, tập quán tốt đẹp để mỗi thành viên trong dòng họ đều phải có trách nhiệm thực hiện.<br />
                    <br />
                    <br />
                    <div class="text-center w-100">
                        <b>Chương I</b><br />
                        <b>NHỮNG QUY ƯỚC CHUNG</b><br />
                    </div>
                    <br />
                    Điểu 1. Dòng họ Giàng là đại gia đình của những người có chung Thuỷ tổ và chung nguồn cội, hiện có boa nhiêu 3 chi, đã trải qua bao nhiêu 5 đời.<br />
                    Điều 2. Ngày Hội họ là ngày  tháng 12 Âm lịch hàng năm, định kỳ tổ chức lễ hội do con cháu thống nhất và quyết định, mỗi chi họ tuỳ theo điều kiện có thể chọn ngày họp riêng và xây dựng nơi thờ phụng (nếu có điều kiện).<br />
                    Điều 3. Tất cả con cháu trai, gái, dâu đều được ghi tên vào gia phả và danh sách của dòng họ theo chi họ và thứ hệ.<br />
                    Điều 4. Phần mộ của các bậc tiền bối và con cháu trong gia tộc được quản lý theo dòng họ và các chi họ. Mọi thành viên trong dòng họ đều có trách nhiệm giữ gìn, bảo vệ và trùng tu, nếu có di dời vào khu tập trung phải lập sơ đồ quản lý và lưu giữ theo quy định chung.
                    Điều 5. Ban liên lạc dòng họ là những người được con cháu trong dòng họ bầu ra, đại diện cho dòng họ có trách nhiệm tổ chức thực hiện các nhiệm vụ và hoạt động của dòng họ theo nhiệm kỳ 3 năm 1 lần.<br />
                    Ban Liên lạc dòng họ, gồm có Trưởng Ban, Phó trưởng Ban và các uỷ viên phụ trách thư ký, thủ quỹ …<br />
                    Điều 6. Dòng họ được xây dựng nguồn quỹ chung của dòng họ từ các nguồn hổ trợ và vận động, đóng góp của các gia đình và con cháu thành đạt ủng hộ. Mọi hoạt động và thu chi phí quỹ chung của dòng họ phải được tập thể con cháu trong dòng họ thống nhất ghi thành nghị quyết, quy chế chi chi tiêu, sau đó giao cho Ban liên lạc và Ban quản lý quỹ quyết định chi tiêu vào những việc phục vụ chung cho dòng họ. Những trường hợp đột xuất không thể lấy ý kiến thống nhất của tất cả con cháu thì Ban Liên lạc quyết định sau đó thông báo lại cho dòng họ biết.<br />
                    Quỹ chung và quỹ Khuyến học sẽ có quy định riêng, thay đổi hàng năm về việc thu và chi sao cho phù hợp thực tế hoạt động của dòng họ.<br />
                    <br />
                    <div class="text-center w-100">
                        <b>Chương II</b><br />
                        <b>NHỮNG QUY ƯỚC CỤ THỂ</b><br />
                    </div>
                    <br />
                    <b>A.	QUYỀN VÀ NGHĨA VỤ CỦA CON CHÁU ĐỐI VỚI GIA ĐÌNH</b><br />
                    <br />
                    Điều 7. Tất cả con cháu của dòng họ Giàng khi sinh ra đều phải được gia đình nuôi dưỡng, chăm sóc, giáo dục chu đáo, không để trẻ lang thang, cơ nhỡ, thất học.<br />
                    Điều 8. Khi đến tuổi trưởng thành con cháu phải có trách nhiệm và tuyệt đối không được ngược đãi đối với ông bà cha mẹ, giữ gìn đạo đức gia phong. Gia đình có ông bà, cha mẹ ốm đau, bệnh tật phải chăm sóc chu đáo; khi qua đời tổ chức mai táng theo phong tục truyền thống, không để kéo dài nhiều ngày và phô trương lãng phí.<br />
                    Con cháu phải có trách nhiệm tổ chức các ngày giỗ nhật, để tưởng nhớ những người thân trong gia đình đã qua đời, quy mô tổ chức phụ thuộc vào điều kiện của mỗi gia đình, nhưng phải đảm bảo quy địnhn chung của thôn xóm.<br />
                    Điều 9. Khi lập gia đình phải xây dựng gia đình hạnh phúc, no ấm, tuân thủ pháp luật, không bạo lực, không nghèo đói, tích cực lao động sản xuất, công tác học tập, xây dựng gia đình trở thành “Gia đình văn hóa”, “Gia đình học tập”.<br />
                    <br />
                    <b>B. QUYỀN VÀ NGHĨA VỤ CỦA CON CHÁU ĐỐI VỚI DÒNG HỌ</b><br />
                    <br />
                    Điều 10. Tất cả con cháu nội ngoại trong dòng họ đều có trách nhiệm trong việc phụng sự tổ tiên, đến ngày lễ hội, ngày tết cổ truyền, giỗ chạp.... đều có quyền về từ đường hoặc nơi thờ phụng chung để dâng hương tưởng niệm và có trách nhiệm đóng góp tiền của, công sức để xây dựng dòng họ.<br />
                    Điều 11. Con cháu phải có trách nhiệm giữ gìn, bảo tồn phần mộ của các bậc tiền bối trong gia tộc. Khi cần trùng tu hoặc di dời, cải táng do giải tỏa phải được sự thống nhất của trưởng dòng họ và Ban liên lạc và đóng góp của con cháu trong gia tộc.<br />
                    Điểu 12. Con cháu họ nội (Trai) ngay sau khi lập gia đình phải có trách nhiệm tham gia các hoạt động và chịu sự phân công của Ban Liên lạc đối với các hoạt động của dòng họ.<br />
                    Điều 13. Khi lập gia đình tuyệt đối không kết hôn với những người có cùng huyết thống trong dòng tộc theo quy định của Luật hôn nhân và gia đình.<br />
                    Điểu 14. Khi có thành viên mới trong gia tộc ra đời, gia đình phải thông tin với Ban Liên lạc để ghi tên vào danh sách của dòng họ, việc ghi tên vào danh sách được thực hiện hằng năm và đi khai sinh đúng quy định.<br />
                    Điều 15. Các Chi trong dòng họ khi có người qua đời ở chi nào thì chi đó phải kịp thời thông tin với Ban Liên lạc để tổ chức thăm hỏi và phúng viếng. Chi có người qua đời phải cử con cháu thực hiện các nhiệm vụ trong suốt quá trình diễn ra tang lễ.<br />
                    Điều 16. Con cháu thi đỗ vào các trường Đại học và đạt loại giỏi ở các bậc học phổ thông, cao đẳng, Đại học thì được tuyên dương khen thưởng hằng năm đúng vào dịp lễ tết.<br />
                    Điều 17. Con cháu có học hàm, học vị giáo sư, phó giáo sư; tiến sĩ, phó tiến sĩ, Thạc sĩ và các chức vụ cao ở huyện, tỉnh, được ghi danh vào sổ vàng truyền thống của dòng họ.<br />
                    Điểu 18. Con cháu trong dòng họ bị thất lạc trước đây nếu xác định được nguồn gốc của chi họ, thứ hệ thì được công nhận là con cháu của dòng họ.
                    Tất cả con cháu trong dòng họ phải đoàn kết, đùm bọc lẫn nhau trên tinh thần tương thân tương ái và giúp đỡ hổ trợ khi gặp khó khăn, thăm hỏi lúc ốm đau, hoạn nạn.<br />
                    Điều 19. Nếu gia đình nào nhận con nuôi phải có trách nhiệm như con đẻ, không được phân biệt đối xử, nếu làm sai sẽ chịu trách nhiệm trước dòng họ và pháp luật.<br />
                    <br />
                    <b>C. TRÁCH NHIỆM VÀ NGHĨA VỤ CỦA CON CHÁU ĐỐI VỚI XÃ HỘI</b><br />
                    <br />
                    Điều 20. Mỗi con cháu đều có trách nhiệm thực hiện tốt mọi chủ trương, chính sách pháp luật của Nhà nước trong mọi lĩnh vực của đời sống xã hội.<br />
                    Điều 21. Tuân thủ và gương mẫu chấp hành tốt các khoản thuế, nghĩa vụ của công dân đối với Nhà nước, không làm ăn, hoạt động phi pháp, vi phạm pháp luật, phạm vào các tệ nạn xã hội.<br />
                    Điểu 22. Thực hiện tốt chính sách dân số - Kế hoạch hóa gia đình theo pháp lệnh dân số, không được “trọng nam khinh nữ”.<br />
                    Điểu 23. Mỗi gia đình và con cháu phải tích cực xây dựng gia đình văn hóa, gia đình học tập, góp phần xây dựng dòng họ văn hóa, dòng họ học tập, thôn xóm học tập và xã đạt “Cộng đồng học tập”.<br />
                    Phát huy tình làng nghĩa xóm, thực hiện tốt đạo lý “Thương người như thể thương thân”, “Lá lành đùm lá rách, lá rách ít đùm lá rách nhiều”, tích cực hưởng ứng các cuộc vận động do cộng đồng và địa phương phát động.<br />
                    Điểu 24. Xây dựng và phát huy hiệu quả hoạt động của Ban khuyến học, chi hội khuyến học của dòng họ nhằm động viên con cháu trong khuyến học, khuyến tài, học vì ngày mai lập nghiệp.<br />
                    <br />
                    <div class="text-center w-100">
                        <b>Chương III</b><br />
                        <b>ĐIỀU ƯỚC THỰC HIỆN</b><br />
                    </div>
                    Điều 25. Tất cả con cháu trong dòng họ Giàng phải tuân thủ và thực hiện đúng quy ước này. Trong quá trình thực hiện nếu cần phải điều chỉnh hoặc bổ sung thì Ban Liên lạc dòng họ sẽ tổ chức lấy ý kiến thống nhất của đa số thành viên trong dòng họ ở những dịp họp họ.<br />
                    Điều 26. Ban Liên lạc dòng họ có trách nhiệm rà soát, đánh giá kết quả thực hiện Quy ước này theo định kỳ hằng năm, nếu đạt được các tiêu chí đề ra thì đề nghị Ủy ban nhân dân xã kiểm tra, công nhận dòng họ Văn hóa, dòng họ học tập theo quy định.<br />
                    Điều 27. Quy ước này được thông qua toàn thể các thành viên gia đình ,con cháu trong dòng họ Giàng và áp dụng thực hiện kế từ ngày ký<br /><br /><br /><br />
                </div>
            </div>
        </div>
    </div>
</main>