@model GiaPha.Models.TinTuc

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var tinTuc = Model;
    ViewBag.Title = tinTuc.TieuDe ?? "Xem tin tức";
}

<div class="my-2">
    <a class="btn btn-sm btn-dark" href="javascript: history.back();"><i class="bi bi-arrow-left"></i> Quay lại</a>
</div>
@if (tinTuc != null)
{
    <div class="my-2">
        <h4 class="my-3"><i class="bi bi-newspaper"></i> @(tinTuc.TieuDe)</h4>
        <hr />
        <div class="tin-tuc-summary fw-bold my-2 fst-italic">@Html.Raw(tinTuc.TomTat)</div>
        <div class="tin-tuc-desc my-2">@Html.Raw(tinTuc.NoiDung)</div>
    </div>
}
