@model IEnumerable<GiaPha.Models.PhaKy>

@{
    ViewBag.Title = "Phả ký";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@if (ViewBag.User != null)
{
    <div>@ViewBag.User.UserName</div>
}


<div class="container">

</div>
<div class="container">
    <div class="col-md-12" align="center" style="margin-top:20px; margin-bottom:20px"><div class="tab-page-long active"><a href"">Phả ký</a></div></div>
    <div class="page-bg p-5">
        <p>
            Theo gia phả dòng họ Xa(Sa) Sinh vi Quản  ở các xã Khu vực Mường Chiềng thì chúng ta có nguồn gốc như sâu:Cụ tổ của chúng ta chưa rõ nguồn gốc ,Đến những năm giữa thế kỷ XIII cụ ông Xa Cầm Long Pheeng đã định cư ở Đà Bắc,xây dựng gia đình và  sinh được người con trai đặt tên là Xa cầm Long Thảo sau này lớn lên đã kết duyên với Bà Xa thị khăm Liên  người con gái cả của Ông Xa Khăm Lau  và bà Nang Pô Veeng (Ông Xa Khăm Lau(1267-1321) la cụ tổ của nhánh Xinh Vi Khăm)  người con gái đó tên là Xa thị khăm Liên ,vợ chồng ông Thảo và bà Khăm Liên sinh hạ được người con trai đặt tên là Xa Văn Hương có vợ tên là Xa Thị Chình,ông Hương  và bà Chinh có bảy người con lần lượt là  các ông bà : Ông Xa Văn Thượng (Muột Quảng Nhàn),Ông Xa Văn Thắng(Muột Quang Lộc –con cháu ở Ba khe là con cháu cu Vượt cụ Huê),Ông Xa văn Thế (Muột Quang Cấp –con cháu ở Ba khe có nhánh nhà ông Tường,ông Có);Ông Xa Văn Hòa(Muột Táo);Ông Xa văn Hiên (Muột Quyên);Bà Xa thị Tháu có chồng hó Sộng tên là Xa Khăm Kẹo tức Xa minh Tuấn );Bà Xa Thị Thính  có chồng là Xa Nam Thảo ( Muột sinh Kha).
        <p>
        </p>
        Về nhánh của Cụ Xa Văn Thắng
        <p>
        </p>
        Cụ Thắng và vợ sinh được (03) Ba người con trai đó là; Ông Bố của ông Xa  Văn Chằng (Chưa rõ tên cha) Ông Xa Văn Chừ ;Ông Xa Văn Chiến vợ là bà Xa thị Ạn (Quạng Vân) hai ông bà sinh ra ông Xa Văn Vượt có vợ là Cầm Thị Huê:Ông Xa Văn Nhâm (Phái).Toàn bộ phần này đã có Sơ đồ Gia phả
        <p>
        </p>
        Do điều kiện trước đây ông cha không thể để lại gia phả. Đến nay các con cháu tự sưu tầm nên chỉ ghi sơ lược theo hình thức đồ phả để chúng ta tiếp tục sưu tầm, nắm bắt thêm từng bước hoàn thiện gia phả nhằm lưu lại cho thế hệ cháu chắt sau này biết về nguồn gốc tổ tiên chi nhánh Vợ chồng Cụ   Chiến,cụ Ạn; Vợ chồng Cụ Vượt Cụ Huê ; Cụ Nhâm.
        </p>
    </div>
</div>
