@model IEnumerable<GiaPha.Models.PhaKy>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@if (ViewBag.User != null)
{
    <div>@ViewBag.User.UserName</div>
}


<div class="container">
    
</div>
<div class="container">
    <div class="col-md-12" align="center" style="margin-top:20px; margin-bottom:20px"><div class="tab-page-long active"><a href"">Phả ký</a></div></div>

                <div class="card">
                  
                    <div class="card-body">
                      
                        <p class="card-text" style="font-size:16px">
                            Sách Trần Nhân Tông viết: Trần Thủ Huy vốn một trang nam nhi tuấn tú và dũng mãnh. Gặp người bị nạn, Thủ Huy đã ra tay cứu giúp. Không ngờ người đó lại là vị Thái tử nhà Lý tên là Lý Long Xưởng, con vua Lý Anh Tông. Thái tử mang ơn kết tình huynh đệ với Thủ Huy. Thủ Huy giúp Lý Long Xưởng dẹp loạn trừ gian trong hoàng tộc nhà Lý nên được vua Lý gả công chúa Đoan Nghi, trở thành phò mã có quyền, có chức trong triều đình. Về sau, vì nghe lời dèm pha, vua Lý đã đày Trần Thủ Huy và công chúa Đoan Nghi đi sứ phương xa tận nước Kim, nước Liêu (thuộc Mông Cổ ngày nay). Công chúa Đoan Nghi sinh ra Trần Thủ Độ ở bên đó. Khi đã trưởng thành, Trần Thủ Độ trở về Đại Việt, sống với bác là Trần Lý, góp phần khởi nghiệp nhà Trần.

                            Lý Long Xưởng vì có tội với vua cha, bị truất xuống làm thứ dân. Em là Lý Long Trát được nối ngôi vua hiệu là Lý Cao Tông. Lý Cao Tông chơi bời vô độ, không quan tâm chính sự, đất nước đói kém, cướp bóc như ong, các bè đảng nổi lên chiếm cứ các vùng tìm cách cướp ngôi vua. Vua phải chạy lên vùng Quy Hóa (vùng núi thuộc tỉnh Phú Thọ ngày nay), Thái tử Sảm chạy về Hải Ấp (nay là Lưu Xá, huyện Hưng Hà, tỉnh Thái Bình). Thái tử Sảm thấy Trần Thị Dung, con gái Trần Lý có nhan sắc bèn lấy làm vợ, phong cho Trần Lý tước Minh Tự, phong cho Tô Trung Từ, em vợ Trần Lý làm Điện Tiền chỉ huy sứ. Cha con Trần Lý, Trần Thừa, Trần Tự Khánh đều hết lòng thờ vua nhà Lý. Thái tử Sảm nối ngôi cha, hiệu là Lý Huệ Tông. Lý Huệ tông không có con trai, lại bị bệnh tâm thần nên truyền ngôi cho con gái là Lý Phật Kim, thường gọi là Lý Chiêu Thánh hiệu là Lý Chiêu Hoàng. Lý Chiêu Hoàng nhường ngôi vua cho chồng là Trần Cảnh hiệu là Trần Thái Tông. Triều đại nhà Trần bắt đầu từ đấy.
                        </p>
                    </div>
                </div>
            </div>
                 
        </div>
    </div>
</div>




<footer class="footer">
    <div class="container">
        <div class="row" style="padding-top: 5px;">
            <div class="col-md-2"><img src="~/Content/img/logo-footer.png" width="150px"></div>
            <div class="col-md-5">
                <p class="footer-title">HỌ TRẦN</p>
                <p class="footer-text"><b>Địa chỉ:</b> Xã </p>
                <p class="footer-text"><b>Trưởng tộc:</b>- <b>Điện thoại:</b></p>
                <p class="footer-text"><b>Quản lý website:</b>  - <b>Điện thoại:</b> </p>
            </div>
            <div class="col-md-5">
                <div class="row">
                    <div class="col-md-6">
                        <ul>
                            <li><a href="/?gpdh=1&amp;Tin-tuc-dong-ho.html" target="_self">Tin tức</a></li>
                            <li><a href="/?gpdh=2&amp;Pha-ky-dong-ho.html" target="_self">Phả ký</a></li>
                            <li><a href="/?gpdh=3&amp;Toc-uoc-dong-ho.html" target="_self">Tộc ước</a></li>
                            <li><a href="/?gpdh=8&amp;Video-dong-ho.html" target="_self">Video</a></li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>
</footer>