@model IEnumerable<GiaPha.Models.PhaKy>

@{
    ViewBag.Title = "Phả ký";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@if (ViewBag.User != null)
{
    <div>@ViewBag.User.UserName</div>
}


<div class="container">

</div>
<div class="container">
    <div class="col-md-12" align="center" style="margin-top:20px; margin-bottom:20px"><div class="tab-page-long active"><a href"">Phả ký</a></div></div>
    <div class="page-bg p-5 fs-5">
        <p>
            Nguồn gốc của dòng họ Giàng ở Suối giàng, cách đây 5 đời được chuyển đén từ ba vùng: Một là chuyển từ Đỉnh xã Hồng ca Huyện Chấn Yên về Suối giàng; hai là chuyển từ Huyện Bắc Yên về xã Suối Giàng; Ba là Chuyển từ Tỉnh Hà Giang, chuyển đến xã Suối Giàng Huyện Văn Chấn, năm bao nhiêu (không rõ thời gian, mà chuyến nay là đời thứ 5 rồi) đã tập hợp nhau để duy trì sinh hoạt dòng họ từ năm 1930, Từ đó đến nay Tổ tiên chúng ta đã sinh hạ hàng trăm con cháu đến …? Đến nay đã bao nhiêu  đời đang tồn tại và phát triển.
        </p>
        <p>
            Nhờ ân đức của Tổ tiên nên con cháu đã nối nghiệp ông cha xây dựng và phát triển dòng họ cho đến ngày nay. Nay bổn phận chúng ta phải phát huy truyền thống tổ tiên, nuôi nấng và dạy dỗ con cháu nên người, giữ gìn kỷ cương đạo lý, nghĩa tình, thuần phong mỹ tục để kế thừa và phát huy truyền thống của ông cha ta. Đoàn kết tương thân tương ái, học hành tiến tới, thực hiện nếp sống có văn hóa, ra sức xây dựng kinh tế gia đình, hòa mình vào cuộc sống chung của xã hội. Thực hiện các điều trên là đã góp phần vào dựng xây và phát triển dòng họ, góp phần xây dựng quê hương, đất nước ngày càng giàu mạnh.

        </p>
    </div>
</div>
